.mar-0 {
  margin: 0;
}

.pdn-0 {
  padding: 0;
}

a {
  color: #333;
}

.search-icon {
  background-color: #fff;
  border-right: 0;
  padding: 0 7px;
}

.header {
  border-bottom: 1px solid #D2D6D3;
  height: 80px;
  padding-top: 20px;
}
.header .pdn-t7 {
  padding-top: 7px;
}
.header .search {
  width: 480px;
  margin: auto;
}
@media (max-width: 992px) {
  .header .search {
    width: 300px;
  }
}
@media (min-width: 992px) and (max-width: 1210px) {
  .header .search {
    width: 400px;
  }
}
@media (min-width: 1210px) {
  .header .search {
    width: 480px;
  }
}
.header .search-text {
  border-left: 0;
  border-color: #D2D6D3;
  height: 32px;
  outline: none;
}
.header .search-btn {
  font-size: 16px;
  color: #999;
  border-color: #D2D6D3;
  background-color: #FAFAFA;
}
@media (max-width: 992px) {
  .header .search-btn {
    padding: 0 15px;
  }
}
@media (min-width: 992px) and (max-width: 1210px) {
  .header .search-btn {
    padding: 0 20px;
  }
}
@media (min-width: 1210px) {
  .header .search-btn {
    padding: 0 25px;
  }
}
.header .icon-bar {
  display: block;
  width: 22px;
  height: 2px;
  border-radius: 1px;
  background-color: #000;
}
.header .login a:hover {
  background: #fff;
  color: #35A85B;
}

.head-nav a {
  padding: 0 !important;
  font-size: 16px;
}
.head-nav .navbar-left .active {
  color: #35A85B;
  border-color: #35A85B;
  background: #fff;
}
.head-nav .navbar-left a {
  display: block;
  height: 40px;
  text-align: center;
  line-height: 35px;
  border-top: 3px solid #fff;
}
@media (max-width: 992px) {
  .head-nav .navbar-left a {
    width: 80px;
  }
}
@media (min-width: 992px) and (max-width: 1210px) {
  .head-nav .navbar-left a {
    width: 100px;
  }
}
@media (min-width: 1210px) {
  .head-nav .navbar-left a {
    width: 120px;
  }
}
.head-nav .navbar-left a:hover {
  color: #35A85B;
  border-color: #35A85B;
  background: #fff;
}
.head-nav .navbar-right a {
  display: block;
  width: 100px;
  height: 32px;
  text-align: center;
  line-height: 32px;
  background-color: #FAFAFA;
  border-radius: 2px;
  margin: 4px 0 0 10px;
}
@media (max-width: 992px) {
  .head-nav .navbar-right a {
    width: 80px;
  }
}
@media (min-width: 992px) and (max-width: 1210px) {
  .head-nav .navbar-right a {
    width: 90px;
  }
}
@media (min-width: 1210px) {
  .head-nav .navbar-right a {
    width: 100px;
  }
}
.head-nav .navbar-right a:hover {
  color: #333;
}

.hidden-nav a:hover {
  color: #35A85B;
}

.lit-search {
  padding: 0 15px 10px 15px;
}
.lit-search .search-div {
  border-left: 0;
  color: #999;
}

.user-box a {
  display: block;
}

.slide img {
  width: 100%;
}

.main-body {
  background-color: #F0F0F0;
}

.footer .box-top {
  border-bottom: 1px solid #D2D6D3;
  padding: 50px 50px 30px 50px;
}
.footer .box-middle {
  border-bottom: 1px solid #D2D6D3;
  padding-top: 30px;
}
.footer .box-bottom {
  padding-top: 15px;
  padding-bottom: 20px;
  text-align: center;
  color: #999;
}
.footer ul {
  padding-left: 0;
  list-style: none;
  color: #999;
}
.footer ul li {
  padding-bottom: 6px;
}
.footer .title {
  font-size: 16px;
  padding-bottom: 12px;
  color: #000;
}
.footer .small {
  font-size: 12px;
}

@media (max-width: 768px) {
  .qr-hidden {
    display: none;
  }
}
@media (min-width: 768px) {
  .hidden-nav {
    display: none !important;
  }
}
.icon-sprite {
  background-image: url('../img/icons-sea66dd479e.png');
  background-repeat: no-repeat;
}

.icon-1 {
  width: 50px;
  height: 56px;
  background-position: 0 0;
}

.icon-2 {
  width: 50px;
  height: 56px;
  background-position: -52px 0;
}

.icon-3 {
  width: 18px;
  height: 18px;
  background-position: -104px 0;
}
