.mar-0 {
  margin: 0;
}

.pdn-0 {
  padding: 0;
}

a {
  color: #333;
}

input, button, select, textarea {
  outline: none !important;
}

.container {
  padding: 0;
  margin-right: auto;
  margin-left: auto;
}

.no-style {
  list-style: none;
  padding: 0;
  margin: 0;
}

.bd-table {
  width: 100%;
  border-top: 1px solid #D2D6D3;
  border-left: 1px solid #D2D6D3;
}
.bd-table td {
  border-right: 1px solid #D2D6D3;
  border-bottom: 1px solid #D2D6D3;
}

.search-icon {
  background-color: #fff;
  border-right: 0;
  padding: 0 7px;
}

.header {
  border-bottom: 1px solid #D2D6D3;
  height: 80px;
  padding-top: 20px;
}
.header .pdn-t7 {
  padding-top: 7px;
}
.header .search {
  width: 480px;
  margin: auto;
}
@media (max-width: 992px) {
  .header .search {
    width: 300px;
  }
}
@media (min-width: 992px) and (max-width: 1210px) {
  .header .search {
    width: 400px;
  }
}
@media (min-width: 1210px) {
  .header .search {
    width: 480px;
  }
}
.header .search-text {
  border-left: 0;
  border-color: #D2D6D3;
  height: 32px;
  outline: none;
}
.header .search-btn {
  font-size: 16px;
  color: #999;
  border-color: #D2D6D3;
  background-color: #FAFAFA;
}
@media (max-width: 992px) {
  .header .search-btn {
    padding: 0 15px;
  }
}
@media (min-width: 992px) and (max-width: 1210px) {
  .header .search-btn {
    padding: 0 20px;
  }
}
@media (min-width: 1210px) {
  .header .search-btn {
    padding: 0 25px;
  }
}
.header .icon-bar {
  display: block;
  width: 22px;
  height: 2px;
  border-radius: 1px;
  background-color: #000;
}
.header .login a:hover {
  background: #fff;
  color: #35A85B;
}

.head-nav a {
  padding: 0 !important;
  font-size: 16px;
}
.head-nav .navbar-left .active {
  color: #35A85B;
  border-color: #35A85B;
  background: #fff;
}
.head-nav .navbar-left a {
  display: block;
  height: 40px;
  text-align: center;
  line-height: 35px;
  border-top: 3px solid #fff;
}
@media (max-width: 992px) {
  .head-nav .navbar-left a {
    width: 80px;
  }
}
@media (min-width: 992px) and (max-width: 1210px) {
  .head-nav .navbar-left a {
    width: 100px;
  }
}
@media (min-width: 1210px) {
  .head-nav .navbar-left a {
    width: 120px;
  }
}
.head-nav .navbar-left a:hover {
  color: #35A85B;
  border-color: #35A85B;
  background: #fff;
}
.head-nav .navbar-right a {
  display: block;
  width: 100px;
  height: 32px;
  text-align: center;
  line-height: 32px;
  background-color: #FAFAFA;
  border-radius: 2px;
  margin: 4px 0 0 10px;
}
@media (max-width: 992px) {
  .head-nav .navbar-right a {
    width: 80px;
  }
}
@media (min-width: 992px) and (max-width: 1210px) {
  .head-nav .navbar-right a {
    width: 90px;
  }
}
@media (min-width: 1210px) {
  .head-nav .navbar-right a {
    width: 100px;
  }
}
.head-nav .navbar-right a:hover {
  color: #333;
}

.hidden-nav a:hover {
  color: #35A85B;
}

.lit-search {
  padding: 0 15px 10px 15px;
}
.lit-search .search-div {
  border-left: 0;
  color: #999;
}

.user-box a {
  display: block;
}

.btn-green {
  padding: 3px 30px;
  border-radius: 15px;
  background-color: #35A85B;
  color: #fff;
  font-size: 16px;
  font-weight: 200;
}
.btn-green:hover {
  color: #fff;
}
.btn-green:focus {
  color: #fff;
}

.btn-green-frame {
  padding: 3px 50px;
  border-radius: 15px;
  background-color: #fff;
  border: 1px solid #D2D6D3;
  border-color: #35A85B;
  color: #35A85B;
  font-size: 16px;
  font-weight: 200;
}
.btn-green-frame:hover {
  color: #35A85B;
}
.btn-green-frame:focus {
  color: #35A85B;
}

.main-body {
  background-color: #F0F0F0;
}
.main-body .category {
  margin: auto;
  padding: 0;
}
.main-body .item-teletext {
  width: 224px;
  height: 300px;
  float: left;
  position: relative;
}
.main-body .item-teletext .card-1 {
  width: 220px;
  height: 100%;
  background-color: #fff;
  float: right;
}
.main-body .item-teletext .card-2 {
  height: 100%;
  background-color: #fff;
}
.main-body .item-teletext .proof {
  height: 220px;
  background: url(../img/index-pro.jpg) no-repeat;
  background-position: center;
  border-bottom: 1px solid #D2D6D3;
}
.main-body .item-teletext .proof .del {
  position: absolute;
  right: 9px;
  top: 9px;
  cursor: pointer;
}
.main-body .item-teletext .explain {
  padding: 10px 20px 0px 20px;
}
.main-body .item-teletext .tag-g {
  position: absolute;
  top: 10px;
}
.main-body .item-teletext .name {
  font-size: 16px;
}
.main-body .item-teletext .labels div {
  float: left;
  font-sieze: 14px;
  color: #999;
  border: 1px solid #D2D6D3;
  padding: 2px 4px;
  border-radius: 2px;
  margin: 5px 5px 5px 0;
}
.main-body .edit-btn {
  color: #35A85B;
  position: relative;
  padding-left: 18px;
  font-size: 14px;
  font-weight: 400;
  cursor: pointer;
}
.main-body .edit-btn i {
  position: absolute;
  left: 0;
  top: 0;
}
.main-body .pulldown button {
  padding: 2px 10px;
  width: 120px;
  border-radius: 2px;
}
.main-body .pulldown a {
  text-decoration: none !important;
}
.main-body .pulldown a:hover {
  background-color: #FAFAFA;
}
.main-body .pulldown .mgr-t8 {
  margin-top: 8px;
}
.main-body .btn-def {
  background-color: #fff;
  border: 1px solid #D2D6D3;
}
.main-body .btn-def:focus {
  background-color: #fff;
}
.main-body .tex-def {
  width: 120px;
  height: 26px;
  border-radius: 2px;
  border: 1px solid #D2D6D3;
  padding: 2px 10px;
}
@media (max-width: 768px) {
  .main-body .mrgr-teletext {
    margin-right: 10px;
    margin-bottom: 10px;
  }
}
@media (min-width: 768px) {
  .main-body .mrgr-teletext {
    margin-right: 15px;
    margin-bottom: 15px;
  }
}

.mb-1 {
  padding: 15px 0;
}
.mb-1 .mb-box {
  padding: 30px;
  background-color: #fff;
  margin-bottom: 15px;
}
.mb-1 .mb-box .title {
  color: #35A85B;
  font-size: 24px;
  border-bottom: 1px solid #D2D6D3;
  margin-bottom: 15px;
}
.mb-1 .nav-sc {
  margin: 0 auto 8px auto;
}
.mb-1 .nav-sc a {
  position: relative;
  display: block;
  color: #999;
  font-size: 16px;
  padding: 1px 16px;
  border-radius: 2px;
  word-break: keep-all;
}
.mb-1 .nav-sc .active a {
  background-color: #35A85B;
  color: #fff;
}
.mb-1 .nav-sc .active a:focus {
  background-color: #35A85B;
  color: #fff;
}
.mb-1 .sc-w1 {
  max-width: 130px;
}
.mb-1 .sc-w2 {
  max-width: 483px;
}
.mb-1 .sc-w3 {
  max-width: 196px;
}
.mb-1 .sc-w4 {
  max-width: 294px;
}
.mb-1 .sc-w5 {
  max-width: 586px;
}
.mb-1 .headline {
  font-size: 24px;
  padding-bottom: 20px;
}
.mb-1 dl {
  padding-left: 24px;
}
.mb-1 dt {
  font-size: 18px;
  font-weight: 400;
  padding-bottom: 15px;
}
.mb-1 dd {
  font-size: 16px;
  padding-left: 54px;
  padding-bottom: 15px;
}
.mb-1 dd a {
  word-break: keep-all;
  padding-bottom: 6px;
  text-decoration: underline;
}
.mb-1 dd a:hover {
  color: #35A85B;
}

.mb-2 {
  padding: 25px 0 15px 0;
}
.mb-2 .breadcrum {
  padding-bottom: 10px;
}
.mb-2 .com-title {
  border-bottom: 1px solid #D2D6D3;
  margin-bottom: 15px;
}
.mb-2 .com-title .title {
  font-size: 18px;
  color: #999;
  padding-right: 20px;
}
.mb-2 .box {
  padding: 20px 25px;
  background-color: #fff;
  margin-bottom: 15px;
}
.mb-2 .ex-table {
  width: 100%;
  border-top: 1px solid #D2D6D3;
  border-left: 1px solid #D2D6D3;
}
.mb-2 .ex-table td {
  border-right: 1px solid #D2D6D3;
  border-bottom: 1px solid #D2D6D3;
  padding: 2px 0;
}
.mb-2 .ey-basic-info {
  background-color: #fff;
  margin-bottom: 15px;
  font-size: 16px;
}
.mb-2 .ey-basic-info .info-title-box {
  padding: 20px 30px 0 30px;
}
.mb-2 .ey-basic-info .info-title-color {
  background-color: #EAF6EE;
}
.mb-2 .ey-basic-info .info-title1 {
  border-bottom: 1px solid #D2D6D3;
  padding-bottom: 12px;
}
.mb-2 .ey-basic-info .info-title2 {
  padding-bottom: 12px;
}
.mb-2 .ey-basic-info .title {
  font-size: 32px;
}
.mb-2 .ey-basic-info .edit-box {
  font-size: 14px;
  padding-top: 22px;
}
.mb-2 .ey-basic-info .edit-box1 {
  font-size: 14px;
  padding-top: 8px;
}
.mb-2 .ey-basic-info .edit-box1 .edit-desc {
  padding-top: 12px;
}
.mb-2 .ey-basic-info .edit-tip {
  color: #999;
  padding-right: 20px;
}
.mb-2 .ey-basic-info .edit {
  color: #999;
  padding-right: 10px;
}
.mb-2 .ey-basic-info .edit-time {
  color: #FF6A4C;
}
.mb-2 .ey-basic-info .tag-box {
  padding-top: 17px;
}
.mb-2 .ey-basic-info .tags {
  color: #fff;
  font-size: 14px;
  border-radius: 2px;
  position: relative;
}
.mb-2 .ey-basic-info .tags i {
  position: absolute;
  left: 8px;
  top: 2px;
}
.mb-2 .ey-basic-info .tag-1 {
  background-color: #B4CC3D;
  padding: 2px 10px 2px 28px;
}
.mb-2 .ey-basic-info .tag-2 {
  background-color: #49A6FF;
  padding: 2px 10px 2px 28px;
}
.mb-2 .ey-basic-info .tag-3 {
  background-color: #F2BA49;
  padding: 2px 10px 2px 24px;
}
.mb-2 .ey-basic-info .ed-info {
  font-size: 14px;
  padding: 0;
  padding-top: 20px;
}
.mb-2 .ey-basic-info .ed-info a {
  text-decoration: underline;
}
.mb-2 .ey-basic-info .ed-info a:hover {
  color: #35A85B;
}
@media (max-width: 1210px) {
  .mb-2 .ey-basic-info .ed-info {
    padding-left: 20px;
  }
}
.mb-2 .ey-basic-info .icon-texs {
  padding-left: 0;
  padding-top: 18px;
}
.mb-2 .ey-basic-info .icon-tex {
  position: relative;
  padding-left: 18px;
  float: right;
  margin-left: 30px;
}
.mb-2 .ey-basic-info .icon-tex i {
  position: absolute;
  left: 0;
  top: 4px;
}
.mb-2 .ey-basic-info .save-time {
  border-left: 1px solid #D2D6D3;
  border-right: 1px solid #D2D6D3;
}
.mb-2 .ey-basic-info .save-time .name {
  font-size: 14px;
  color: #999;
}
.mb-2 .ey-basic-info .info-detail {
  padding: 15px 30px;
}
.mb-2 .ey-basic-info .info-detail .main-graph {
  position: relative;
}
.mb-2 .ey-basic-info .info-detail .main-graph .btn-box {
  position: absolute;
  width: 100%;
  bottom: 0;
}
.mb-2 .ey-basic-info .info-detail dt {
  border-bottom: 1px solid #D2D6D3;
  margin-bottom: 15px;
}
.mb-2 .ey-basic-info .info-detail .mgr-b25 {
  margin-bottom: 25px;
}
.mb-2 .ey-basic-info .info-detail a {
  text-decoration: underline;
}
.mb-2 .ey-basic-info .info-detail a:hover {
  color: #35A85B;
}
.mb-2 .ey-basic-info .info-detail .more {
  color: #35A85B;
}
.mb-2 .ey-basic-info .dt-title {
  font-size: 18px;
  color: #999;
  padding-right: 25px;
}
.mb-2 .ey-basic-info .basic-table {
  width: 100%;
}
.mb-2 .ey-basic-info .basic-table td {
  padding-left: 20px;
  padding-bottom: 10px;
}
.mb-2 .ey-basic-info .bd-r {
  border-right: 1px solid #D2D6D3;
}
.mb-2 .ey-basic-info .x-table td {
  text-align: center;
  position: relative;
  padding: 2px 0;
}
.mb-2 .ey-basic-info .x-table .add {
  color: #35A85B;
}
.mb-2 .ey-basic-info .x-table .del {
  position: absolute;
  right: 9px;
  top: 5px;
  cursor: pointer;
}
.mb-2 .ey-history dl {
  margin-bottom: 0;
}
.mb-2 .ey-history dt {
  margin-bottom: 8px;
}
.mb-2 .ey-history .title {
  font-size: 18px;
  font-weight: 400;
}
.mb-2 .ey-history textarea {
  font-size: 16px;
}
.mb-2 .ey-history .mgr-b20 {
  padding-bottom: 20px;
}
.mb-2 .ey-history .mgr-b10 {
  padding-bottom: 10px;
}
.mb-2 .ey-history .wn-tip {
  font-size: 16px;
  color: #999;
}
.mb-2 .ey-history .wn {
  color: #333;
}
.mb-2 .ey-history .mgr-r20 {
  margin-right: 20px;
}
.mb-2 .ey-piclist .piclist {
  border-left: 1px solid #D2D6D3;
}
.mb-2 .ey-piclist .pic-item {
  border-bottom: 1px solid #D2D6D3;
  border-right: 1px solid #D2D6D3;
  border-top: 1px solid #D2D6D3;
}
.mb-2 .ey-piclist .description {
  padding-bottom: 30px;
}
.mb-2 .ey-piclist .ex-cont {
  padding: 0 20px;
}
.mb-2 .ey-piclist .ex-cont dt {
  font-weight: 400;
  font-size: 18px;
  padding-bottom: 8px;
}
.mb-2 .ey-piclist .ex-cont td {
  text-align: center;
}
.mb-2 .ey-piclist .ex-cont a {
  text-decoration: underline;
}
.mb-2 .ey-piclist .ex-cont a:hover {
  color: #35A85B;
}
.mb-2 .ey-piclist .ex-cont .mgr-b15 {
  margin-bottom: 15px;
}
.mb-2 .ey-piclist .tex-cm {
  text-align: center;
  line-height: 300px;
  overflow: hidden;
  font-size: 16px;
  cursor: pointer;
  color: #35A85B;
}
.mb-2 .ey-piclist .add {
  color: #35A85B;
}
.mb-2 .ey-recommend {
  background-color: #F0F0F0;
}
.mb-2 .ey-verinfo {
  font-size: 16px;
}
.mb-2 .ey-verinfo td {
  padding: 2px 0 2px 10px;
}
.mb-2 .ey-verinfo .ver-num {
  border: 1px solid #D2D6D3;
  width: 294px;
  padding: 2px 10px;
}
.mb-2 .ey-verinfo .ver-num a {
  color: #35A85B;
}
.mb-2 .ey-verinfo .ver-num a:hover {
  color: #35A85B;
}
.mb-2 .ey-verinfo .not-bdr {
  border-top: 0;
}
.mb-2 .ey-verinfo .mgr-b18 {
  margin-bottom: 18px;
}
.mb-2 .ey-tabs {
  font-size: 16px;
}
.mb-2 .ey-tabs .nav-tabs {
  margin-bottom: 10px;
}
.mb-2 .ey-tabs .nav-tabs a {
  padding: 2px 20px;
  border-radius: 0;
}
.mb-2 .ey-tabs .nav-tabs a:hover {
  color: #35A85B;
}
.mb-2 .ey-tabs .nav-tabs .active a {
  background-color: #35A85B;
  color: #fff;
  border-left: 0;
  border-right: 0;
  border-top: 0;
}
.mb-2 .ey-tabs .nav-tabs .active a:hover {
  background-color: #35A85B;
  color: #fff;
  border-left: 0;
  border-right: 0;
  border-top: 0;
}
.mb-2 .ey-tabs .nav-tabs .active a:focus {
  background-color: #35A85B;
  color: #fff;
  border-left: 0;
  border-right: 0;
  border-top: 0;
}
.mb-2 .ey-tabs .tab-content {
  font-size: 16px;
}
.mb-2 .ey-tabs .tab-content .cap {
  background-color: #FAFAFA;
  color: #999;
}
.mb-2 .ey-tabs .tab-content td {
  text-align: center;
  padding: 4px 0;
}
.mb-2 .ey-tabs .tab-content a {
  color: #35A85B;
  text-decoration: underline;
}
.mb-2 .ey-tabs .tab-content a:hover {
  color: #35A85B;
}
.mb-2 .ey-tabs .tab-content .mgr-b12 {
  margin-bottom: 12px;
}
.mb-2 .ey-tabs .tab-content .rate-table {
  margin-bottom: 30px;
}
.mb-2 .ey-tabs .tab-content .new-prog {
  width: 240px;
  height: 30px;
  margin: 0;
}
.mb-2 .ey-tabs .tab-content .orange-bar {
  border-radius: 4px;
  background-color: #FF6A4C;
}
.mb-2 .ey-tabs .tab-content .yellow-bar {
  border-radius: 4px;
  background-color: #F2BA49;
}
.mb-2 .ey-tabs .tab-content .green-bar {
  border-radius: 4px;
  background-color: #B4CC3D;
}
.mb-2 .ey-tabs .tab-content .cont-rate {
  padding-left: 21px;
  font-size: 18px;
  text-align: left;
}
.mb-2 .ey-tabs .tab-content .pdn-lr {
  padding-right: 40px;
  padding-left: 21px;
}
.mb-2 .ey-tabs .tab-content .pdn-l30 {
  padding-left: 30px;
}

.footer .box-top {
  border-bottom: 1px solid #D2D6D3;
  padding: 50px 50px 30px 50px;
}
.footer .box-middle {
  border-bottom: 1px solid #D2D6D3;
  padding-top: 30px;
}
.footer .box-bottom {
  padding-top: 15px;
  padding-bottom: 20px;
  text-align: center;
  color: #999;
}
.footer ul {
  padding-left: 0;
  list-style: none;
  color: #999;
}
.footer ul li {
  padding-bottom: 6px;
}
.footer .title {
  font-size: 16px;
  padding-bottom: 12px;
  color: #000;
}
.footer .small {
  font-size: 12px;
}

/* pages */
.mo-box {
  padding: 20px 30px;
}
.mo-box .mo-body {
  padding-bottom: 18px;
}
.mo-box .mo-footer {
  text-align: center;
}
.mo-box .mo-footer button {
  padding: 3px 40px;
}
.mo-box .search-group {
  max-width: 610px;
  margin: 0 auto;
}
.mo-box .search-group a {
  color: #35A85B;
  text-decoration: underline;
  word-break: keep-all;
}
.mo-box .search-box {
  position: relative;
  display: inline-block;
  width: 400px;
  margin-right: 6px;
}
.mo-box .search-results {
  position: absolute;
  top: 32px;
  left: 0;
  border: 1px solid #D2D6D3;
  width: 100%;
  background-color: #FAFAFA;
  z-index: 999;
  padding: 5px 0;
}
.mo-box .search-results li {
  padding: 4px 10px;
  color: #999;
  font-size: 16px;
}
.mo-box .search-results li:hover {
  background-color: #eee;
}
.mo-box .search-results span {
  color: #FF6A4C;
}
.mo-box .search-bar {
  height: 32px;
  font-size: 16px;
  padding: 4px 12px;
  border: 1px solid #D2D6D3;
}
.mo-box .search-btn {
  font-size: 16px;
  padding: 4px 12px 4px 34px;
  vertical-align: top;
  position: relative;
  background-color: #35A85B;
  color: #fff;
  margin-right: 16px;
}
.mo-box .search-btn i {
  display: block;
  position: absolute;
  top: 7px;
  left: 12px;
}
.mo-box .mgr-r16 {
  margin-right: 16px;
}

.mo-ver1 .tip-1 {
  text-align: center;
  padding-bottom: 12px;
}
.mo-ver1 .tip-1 span {
  color: #999;
}
.mo-ver1 .tip-2 {
  text-align: center;
  padding-bottom: 25px;
}
.mo-ver1 .tip-2 span {
  display: inline-block;
  color: #FF6A4C;
  background-color: #FFF0ED;
  padding: 2px 4px 2px 30px;
  position: relative;
  border-radius: 4px;
}
.mo-ver1 .tip-2 i {
  display: block;
  position: absolute;
  left: 8px;
  top: 4px;
}
.mo-ver1 .title {
  font-size: 18px;
  padding-top: 22px;
  padding-bottom: 6px;
}
.mo-ver1 .q-table {
  margin-bottom: 8px;
}
.mo-ver1 .q-table td {
  padding: 0 10px;
  height: 80px;
  text-align: center;
  font-size: 12px;
}
.mo-ver1 .page-btn {
  text-align: center;
}
.mo-ver1 .page-btn input {
  padding: 3px 30px;
}
.mo-ver1 .book-name {
  font-size: 18px;
  text-align: center;
  padding-bottom: 10px;
}
.mo-ver1 .book-info {
  color: #999;
  text-align: center;
  padding-bottom: 20px;
}
.mo-ver1 .specimen {
  padding: 3px;
  border: 1px solid #D2D6D3;
  max-width: 162px;
}
.mo-ver1 .specimen img {
  border: 1px dashed #D2D6D3;
  border-radius: 2px;
}
.mo-ver1 .add-spe {
  padding: 3px;
  border: 1px solid #D2D6D3;
  max-width: 162px;
}
.mo-ver1 .add-spe div {
  background-color: #FAFAFA;
  color: #35A85B;
  text-align: center;
  height: 234px;
  line-height: 234px;
  font-size: 16px;
}
.mo-ver1 .q-num {
  padding-left: 40px;
}
.mo-ver1 .page-num {
  display: inline-block;
  width: 60px;
  height: 26px;
  border-radius: 2px;
  color: #999;
  border: 1px solid #D2D6D3;
  background-color: #FAFAFA;
  padding: 2px 12px;
  margin: 0 8px;
}
.mo-ver1 .pre-quote {
  color: #999;
  text-align: center;
  padding-top: 40px;
}
.mo-ver1 .tab-def {
  border: 0;
  padding-top: 22px;
}
.mo-ver1 .tab-def a {
  color: #999;
  font-size: 18px;
  border-radius: 0;
  padding: 0px 30px 6px 0;
  border: 0;
}
.mo-ver1 .tab-def a:hover, .mo-ver1 .tab-def a:focus {
  background-color: #fff;
  border: 0;
}
.mo-ver1 .tab-def .active a {
  color: #333;
  border: 0;
}
.mo-ver1 .tab-def .active a:hover, .mo-ver1 .tab-def .active a:focus {
  background-color: #fff;
  border: 0;
}
.mo-ver1 .drop-box {
  padding: 5px;
  color: #999;
  background-color: #FAFAFA;
}
.mo-ver1 .drop-box li {
  padding: 3px 0;
}
.mo-ver1 .drop-box li:hover {
  background-color: #eee;
}
.mo-ver1 .r-table {
  text-align: center;
  margin-bottom: 8px;
}
.mo-ver1 .r-table td {
  height: 64px;
  font-size: 16px;
}
.mo-ver1 .r-table .tr-1 td {
  height: 32px;
  color: #999;
}
.mo-ver1 .r-table button {
  border: 0;
  background-color: #fff;
}
.mo-ver1 .n-table {
  font-size: 16px;
  width: 100%;
}
.mo-ver1 .n-table .in-box {
  border: 1px solid #D2D6D3;
  color: #999;
  background-color: #FAFAFA;
  height: 26px;
  border-radius: 2px;
  width: 240px;
  padding: 2px 12px;
}
.mo-ver1 .n-table input {
  margin-top: 12px;
}
.mo-ver1 .s-table td {
  text-align: center;
  font-size: 12px;
  padding: 3px 0;
}
.mo-ver1 .s-table td a {
  text-decoration: underline;
}
.mo-ver1 .s-table td a:hover, .mo-ver1 .s-table td a:focus {
  color: #35A85B;
}
.mo-ver1 .mgr-t8 {
  margin-top: 8px;
}
.mo-ver1 .mgr-b9 {
  margin-bottom: 9px;
}

.mo-ver2 {
  padding: 30px;
}
.mo-ver2 .title {
  font-size: 18px;
  padding-bottom: 10px;
}
.mo-ver2 .file {
  border: 1px solid #D2D6D3;
  color: #999;
  background-color: #FAFAFA;
  height: 26px;
  border-radius: 2px;
  padding: 2px 12px;
}
.mo-ver2 .photo {
  width: 240px;
  height: 240px;
  border: 1px solid #979797;
  background-color: #D8D8D8;
  margin-top: 25px;
}

@media (max-width: 768px) {
  .qr-hidden {
    display: none;
  }
}
@media (min-width: 768px) {
  .hidden-nav {
    display: none !important;
  }
}
.icon-sprite {
  background-image: url('../img/icons-sb1988b59ac.png');
  background-repeat: no-repeat;
}

.icon-1 {
  width: 50px;
  height: 56px;
  background-position: 0 0;
}

.icon-2 {
  width: 50px;
  height: 56px;
  background-position: -236px 0;
}

.icon-3 {
  width: 18px;
  height: 18px;
  background-position: -342px 0;
}

.icon-4 {
  width: 63px;
  height: 64px;
  background-position: -362px 0;
}

.icon-5 {
  width: 52px;
  height: 64px;
  background-position: -427px 0;
}

.icon-6 {
  width: 65px;
  height: 64px;
  background-position: -481px 0;
}

.icon-7 {
  width: 13px;
  height: 16px;
  background-position: -548px 0;
}

.icon-8 {
  width: 16px;
  height: 16px;
  background-position: -563px 0;
}

.icon-9 {
  width: 10px;
  height: 16px;
  background-position: -581px 0;
}

.icon-10 {
  width: 16px;
  height: 15px;
  background-position: -52px 0;
}

.icon-11 {
  width: 16px;
  height: 16px;
  background-position: -70px 0;
}

.icon-12 {
  width: 14px;
  height: 14px;
  background-position: -88px 0;
}

.icon-13 {
  width: 16px;
  height: 16px;
  background-position: -104px 0;
}

.icon-14 {
  width: 18px;
  height: 18px;
  background-position: -122px 0;
}

.icon-15 {
  width: 18px;
  height: 18px;
  background-position: -142px 0;
}

.icon-16 {
  width: 18px;
  height: 18px;
  background-position: -162px 0;
}

.icon-17 {
  width: 16px;
  height: 15px;
  background-position: -182px 0;
}

.icon-18 {
  width: 16px;
  height: 16px;
  background-position: -200px 0;
}

.icon-19 {
  width: 16px;
  height: 16px;
  background-position: -218px 0;
}

.icon-20 {
  width: 16px;
  height: 16px;
  background-position: -288px 0;
}

.icon-21 {
  width: 16px;
  height: 16px;
  background-position: -306px 0;
}

.icon-22 {
  width: 16px;
  height: 16px;
  background-position: -324px 0;
}
