.quote-item {
  background-color: #FAFAFA;
  padding: 30px;
  margin-bottom: 15px;
}
.quote-item .basic-info {
  padding-bottom: 30px;
}
.quote-item .row-1 {
  padding-bottom: 10px;
}
.quote-item .item-name {
  color: #999;
  font-size: 18px;
  padding-right: 10px;
}
.quote-item .item-value {
  font-size: 24px;
}
.quote-item .author-publish {
  color: #999;
  font-size: 16px;
}
.quote-item table {
  width: 100%;
  text-align: center;
  border: 1px solid #D2D6D3;
  border-right: none;
}
.quote-item table .bd-h {
  border-bottom: 1px solid #D2D6D3;
}
.quote-item table td {
  background-color: #fff;
  padding: 5px 0;
  font-size: 16px;
  border-right: 1px solid #D2D6D3;
}
.quote-item table a {
  text-decoration: underline;
}
.quote-item table a:hover {
  color: #35A85B;
}
