.slide{
    img{
        width:100%
    }
    .carousel-indicators {
        li {
            width: 8px;
            height: 8px;
            margin: 1px;
            text-indent: -999px;
            cursor: pointer;
            background-color: #000\9;
            background-color: rgba(0,0,0,0);
            border: 1px solid #fff;
            border-radius: 8px;
        }
        .active {
            width: 16px;
            height: 8px;
            margin-bottom: 1px;
            background-color: #fff;
        }
    }
}
.main-index {
	padding-top: 30px;
	padding-bottom: 70px;
	ul {
		list-style: none;
	} 
}
.cate-index {
	.title {
		color: $ax-green;
		font-size: 24px;
		border-bottom: $ax-bdr;
		margin-bottom: 15px;
	}
    .item-1 {
    	width: 220px;
    	height: 262px;
    	float: left;
    	background-color: #fff;
    	padding: 10px;
    	.entry-name {
    		color: $ax-gray;
    		font-size: 12px;
    		padding-bottom: 5px;
    	}
    	.entry-value {
    		font-size: 16px;
    		padding-bottom: 15px;
    	}
    	.finish {
    		font-size: 12px;	
    		padding-bottom: 5px;
    	}
    	.finish-name {
    		color: $ax-gray;
    	}
    	.finish-value {
    		color: $ax-green;
    	}
    	.finish-strip {
    		height: 8px;
    		border-radius: 4px;
    		background-color: $ax-body-gray;
    		margin-bottom: 12px;
    	}
    	.finish-strip-value {
    		height: 8px;
    		border-radius: 4px;
    		background-color: $ax-green;
    		width: 30%;
    	}
    	.list {
    		padding-bottom: 5px;
    		font-size: 14px;
    	}
    	.list-name {
    		color: $ax-gray;
    		padding-right: 10px;
    	}
    	.btn-look {
    		display: block;
    		padding: 0;
    		background-color: #fff;
    		color: $ax-green;
    		border: 1px solid $ax-green;
    		height: 30px;
    		line-height: 29px;
    		font-size: 16px;
    		border-radius: 15px;
    		margin-top: 10px;
    		&:hover {
    			background-color: $ax-green;
    			color: #fff;
    		}
    	}
    }
    .mgr-b15 {
    	margin-bottom: 15px;
    }
}

@media (max-width: $phone-width) {
	.mrgr-1 {
    	margin-right: 10px;
    	margin-bottom: 10px;
    }
}
@media (min-width: $phone-width) {
	.mrgr-1 {
    	margin-right: 20px;
    	margin-bottom: 20px;
    } 
}
@media all and (-webkit-min-device-pixel-ratio:0){
	.justify-range {
	    font-size: 0;
	}
}