.mc-body {
	padding: 15px 0;
	font-size: 16px;
}
.mc-side {
	width: 100%;
	margin-bottom: 15px;
	i {
		display: block;
		position: absolute;
		top: 10px;
    	left: 12px;
	}
	a {
		font-size: 16px;
		text-align: left;
		padding: 10px 12px 10px 40px;
		margin: 0!important;
		border: 0;
		&:hover, &:focus, &:active {
			color: $ax-green;
			background-color: #fff!important;
			border-color: $ax-gray!important;
			outline: 0;
		    -webkit-box-shadow: none;
		    box-shadow: none;
		}
	}
	.bdr-b {
		border-bottom: $ax-bdr;
	}
}	
.mc-main {
	.mgr-b15 {
		margin-bottom: 15px;
	}
	.g-card {
		background-color: $ax-green;
		border-radius: 4px;
		width: 100%;
		color: #fff;
		padding: 10px 12px;
		margin-bottom: 15px;
		font-weight: 100;
		a {
			color: #fff;
		}
	}
	.mc-table {
		td {
			padding: 3px 15px;
		}
	}
	li {
		background-color: #fff;
		padding: 20px;
	}
	.mc-title {
		padding-bottom: 8px;
		border-bottom: $ax-bdr;
		.title {
			font-size: 18px;
			padding-right: 25px;
    		color: #999;
		}
		.help {
			padding-left: 22px;
		    position: relative;
		    font-size: 14px;
		}
		i {
			display: block;
			position: absolute;
			top: 0;
			left: 0;
		}
		a {
			text-decoration: none;
		}
	}

	.mc-info-tab {
		padding-bottom: 12px;
    	border-bottom: 1px solid #999;
		li {
			padding: 0;
			padding-right: 8px;
		}
		a {
			border-radius: 2px;
			padding: 2px 15px;
		}
		.active {
			a, a:hover, a:focus {
				color: #fff;
				background-color: $ax-green;
			}
		}
	}
	.mc-my-info {
		padding-top: 12px;
		margin: 0;
		.image {
			padding:0;
		}
		.score {
			padding-bottom: 8px;
		}
		.idn {
			color: #999;
			font-size: 14px;
		}
		.btn-modify {
			padding: 12px 12px;
			border-radius: 4px;
			@media (max-width: $pad-width) {
				font-size: 14px;
			}
		}
		.btn-box {
			padding-right: 0;
			@media (min-width: $phone-width) {
				text-align: right;
			}
		}
		.help {
			dispaly: block;
			margin: 3px 0 0 6px;		
		}
	}
	.mc-offer {
		padding-top: 15px;
    	margin: 0;
		.b-block {
		    background-color: #FAFAFA;
    		padding: 6px 20px;
    		margin-bottom: 12px;
		}
		.gray {
			color: #999;
		}
		.value {
			font-size: 32px;
			margin-bottom: 5px;
		}
		.number {
			color: #FF6A4C;
		}
		.s-block {
			background-color: #FAFAFA;
    		padding: 4px 20px;
    		@media (max-width: $pad-width) {
				margin-bottom: 12px;
			}
		}
	}
	.tit-cont {
		padding: 15px 15px 0 15px;
		a {
			font-size: 14px;
		}
	}
	.bdr-b0 {
		border-bottom: 0;
	}
	.mcm-table {
		width: 100%;
		.cap {
			background-color: #FAFAFA;
		}
		td {
			border-bottom: $ax-bdr;
			padding: 3px 0 3px 15px;
		}
	}
}