@import "compass/css3";
@import "compass/utilities/sprites";
@import 'var.scss';
.mar-0{
	margin:0;
}
.pdn-0{
	padding:0;
}
a {
	color: #333;
	&:hover, &:focus {
		color: #333;
	}
}
input, button, select, textarea {
	outline: none!important;
}
.container {
	padding: 0;
    margin-right: auto;
    margin-left: auto;
    min-width: $m-width;
    overflow-x: hidden;
}
.no-style {
	list-style: none;
	padding: 0;
	margin: 0;
}
.bd-table {
	width: 100%;
	border-top: $ax-bdr;
	border-left: $ax-bdr;
	td {
		border-right: $ax-bdr;
		border-bottom: $ax-bdr;
	}
}
.search-icon {
	background-color: #fff;
	border-right:0;
	padding: 0 7px;
}
.more {
	color: $ax-green;
	text-decoration: underline;
	word-break: keep-all;
	&:hover, &:focus {
		color: $ax-green;
	}
}
.header {
    border-bottom: $ax-bdr;
    height: 80px;
    padding-top: 20px;
    .pdn-t7 {
    	padding-top: 7px;
    }
    .search {
    	width: 480px;
    	@media (max-width: $pad-width) {
			width: 300px;
		}
		@media (min-width: $pad-width) and (max-width: $pc-width) {
			width: 400px;
		}
		@media (min-width: $pc-width) {
			width: 480px;
		}
    	margin: auto;
    }
	.search-text{
		border-left:0;
		border-color: #D2D6D3;
	    height: 32px;
	    outline: none;
	}
	.search-btn {
	    font-size: 16px;
	    color: #999;
	    border-color: $ax-gray;
	    background-color: #FAFAFA;
	    cursor: pointer;
	    @media (max-width: $pad-width) {
			padding: 0 15px;
		}
		@media (min-width: $pad-width) and (max-width: $pc-width) {
			padding: 0 20px;
		}
		@media (min-width: $pc-width) {
			padding: 0 25px;
		}
	}
	em {
	    &, &::before, &::after {
	    	display: block;
		    position: relative;
		    height: 2px;
		    width: 22px;
		    background-color: #25283D;
		    @each $browser in -webkit-,-moz-,-ms-,-o-,{
		        #{$browser}backface-visibility: hidden;
		    }
		    backface-visibility: hidden;
	    }
	    &::before, &::after {
	    	position: absolute;
		    content: '';
		    left: 0;
		    -webkit-transition: -webkit-transform .2s;
		    transition: -webkit-transform .2s;
		    transition: transform .2s;
		    transition: transform .2s, -webkit-transform .2s;
	    }
	    &::before {
	    	@each $browser in -webkit-,-moz-,-ms-,-o-,{
		        #{$browser}transform: translateY(-6px);
		    }
	    	transform: translateY(-6px);
	    }
	    &::after {
	    	@each $browser in -webkit-,-moz-,-ms-,-o-,{
		        #{$browser}transform: translateY(6px);
		    }
	    	transform: translateY(6px);
	    }
	}
	.nav-open {
    	em {
    		background-color: rgba(255, 255, 255, 0);
    		&::before {
    			@each $browser in -webkit-,-moz-,-ms-,-o-,{
			        #{$browser}transform: rotate(-45deg);
			    }
    			transform: rotate(-45deg);
    		}
    		&::after {
    			@each $browser in -webkit-,-moz-,-ms-,-o-,{
			        #{$browser}transform: rotate(45deg);
			    }
    			transform: rotate(45deg);
    		}
    	}
    }
	.login {
		a:hover	{
			background: #fff;
			color: $ax-green;
		}
	}
	.head-hid{
		padding-right: 0;
	}
	.user-box {
		padding: 0;
	}
	.logined {
		a:hover, a:focus {
			background: #fff;
		}
		.pdn {
			padding:18px 10px;
		}
		.login-user {
			cursor: pointer;
		}
		.mgr-r2 {
			margin-right: 2px;
		}
		.mgr-t4r2{
			margin-top: 4px;
			margin-right: 2px;
		}
		.inf-num {
			color: $ax-green;
		}
		.btn-ud {
			background-color: #fff;
			cursor: pointer;
			border: 1px solid transparent;
			white-space: nowrap;
			vertical-align: middle;
		    -ms-touch-action: manipulation;
		    touch-action: manipulation;
			@each $browser in -webkit-,-moz-,-ms-,-o-,{
		        #{$browser}user-select: none;
		    }
			user-select: none;
		}
		@media (max-width: $pc-width) {
			.mgr-r2 {
				display: none;
			}
			.mgr-t4r2{
				display: none;
			}
		}
		@media (max-width: $pad-width) {
			.pdn {
				padding:18px 5px;
			}
		}
	}
}
.head-nav {
	a {
		padding: 0!important;
		font-size: 16px;
	}
	.navbar-left {
		.active {
			color: $ax-green;
			border-color: $ax-green;
			background: #fff;
		}
		a {
			display: block;
			height: 40px;
			text-align: center;
    		line-height: 35px;
    		border-top: 3px solid #fff;
    		@media (max-width: $pad-width) {
    			width: 80px;
			}
    		@media (min-width: $pad-width) and (max-width: $pc-width) {
    			width: 100px;
			}
			@media (min-width: $pc-width) {
				width: 120px;
			}
    		&:hover {
    			color: $ax-green;
    			border-color: $ax-green;
    			background: #fff;
    		}
		}
	}
	.navbar-right {
		a {
			display: block;
			width: 100px;
			height: 32px;
			text-align: center;
    		line-height: 32px;
    		background-color:#FAFAFA;
    		border-radius: 2px;
    		margin: 4px 0 0 10px;
    		@media (max-width: $pad-width) {
    			width: 80px;
			}
    		@media (min-width: $pad-width) and (max-width: $pc-width) {
    			width: 90px;
			}
			@media (min-width: $pc-width) {
				width: 100px;
			}
    		&:hover {
    			color: #333;
    		}
		}
	}
}
.hidden-nav {
	a:hover {
		color: $ax-green;
	}
}
.lit-search {
	padding: 0 15px 5px 15px;
	.search-div {
		border-left: 0;
    	color: #999;
	}
}
.nav-menu {
    padding-top: 10px;
	position: relative;
	transition-duration: 0.3s;
    transition-timing-function: ease-out;
    @each $browser in -webkit-,-moz-,-ms-,-o-,{
        #{$browser}transform: translate3d(0, 0, 0);
    }
    transform: translate3d(0, 0, 0);
    .icon-gb {
    	width: 10px;
    	height: 20px;
    	&::before {
		    content: "";
		    display: inline-block;
		    width: 10px;
		    height: 10px;
		    vertical-align: middle;
		    border-left: 2px solid #999;
		    border-bottom: 2px solid #999;
		    -webkit-transform: rotate(45deg);
		    transform: rotate(-135deg);
		    box-sizing: border-box;
		}
    }
    .icon-go {
	    &::before {
	    	@each $browser in -webkit-,-moz-,-ms-,-o-,{
		        #{$browser}transform: rotate(-135deg);
		    }
		    transform: rotate(-135deg);
		}
	}
	.icon-back {
		&::before {
	    	@each $browser in -webkit-,-moz-,-ms-,-o-,{
		        #{$browser}transform: rotate(45deg);
		    }
		    transform: rotate(45deg);
		}
	}
	.sub-menu {
		position: absolute;
	    top: 0;
	    left: 0;
	    width: 100%;
		@each $browser in -webkit-,-moz-,-ms-,-o-,{
	        #{$browser}transform: translate3d(100%, 0, 0);
	    }
	    transform: translate3d(100%, 0, 0);
	    a{
	    	padding-left: 30px;
	    }
	    .pdn-l15{
	    	padding-left: 15px;
	    }
	}
	.posi-ini {
		position: initial;
	}
	.c-gray {
		color: #999;
	}
	.mid-info {
		background-color: #FAFAFA;
		border-top: $ax-bdr;
		border-bottom: $ax-bdr;
		color: #999;
		.top-line {
			padding: 12px 15px 6px 30px;
		}
		.bottom-line {
			padding: 6px 15px 12px 30px;
		}
	}
}
.move-in {
	transform: translate3d(-100%, 0, 0);
}
.btn-green {
	padding: 3px 30px;
	border-radius: 15px;
	background-color: $ax-green;
	color: #fff;
	font-size: 16px;
	font-weight: 200;
	&:hover {
		color: #fff;
	}
	&:focus {
		color: #fff;
	}
}
.btn-green-lg {
	width: 260px;
    height: 60px;
    line-height: 47px;
	text-align: center;
    border-radius: 4px;
    background-color: #35A85B;
    color: #fff;
    font-size: 24px;
    font-weight: 200;
	&:hover {
		color: #fff;
	}
	&:focus {
		color: #fff;
	}
}
.btn-green-frame {
	padding: 3px 50px;
	border-radius: 15px;
	background-color: #fff;
	border: $ax-bdr;
	border-color: $ax-green;
	color: $ax-green;
	font-size: 16px;
	font-weight: 200;
	&:hover {
		color: $ax-green;
	}
	&:focus {
		color: $ax-green;
	}
}
.head-sub-menu {
	display: none;
	background-color: #fff;
	position: absolute;
	left: 0;
	top: 0;
	border: $ax-bdr;
	width: 262px;
	.li-1 {
		padding: 14px;
	}
	.pdn-b5 {
		padding-bottom: 5px;
	}
	.li-2 {
		padding: 14px;
		background-color: #FAFAFA;
		border-top: $ax-bdr;
		border-bottom: $ax-bdr;
	}
	.li-table {
		width: 100%;
		td {
			text-align: center;
			padding: 4px 0;
		}
		.td-br {
			border-bottom: $ax-bdr;
			border-right: $ax-bdr;
		}
		.td-b {
			border-bottom: $ax-bdr;
		}
		.td-r {
			border-right: $ax-bdr;
		}
	}
}
.main-body {
	background-color: $ax-body-gray;
	.category {
		margin: auto;
		padding: 0;
	}
	.item-teletext {
    	width: 224px;
    	height: 300px;
    	float: left;
    	position: relative;
    	.card-1 {
    		width: 220px;
    		height: 100%;
    		background-color: #fff;
    		float: right;
    	}
    	.card-2 {
    		height: 100%;
    		background-color: #fff;
    	}
    	.proof {
    		height: 220px;
    		background: url(../img/index-pro.jpg) no-repeat;
    		background-position: center;
    		border-bottom: $ax-bdr;
    		.del {
    			position: absolute;
				right: 9px;
    			top: 9px;
    			cursor: pointer;
    		}
    	}
    	.explain {
    		padding: 10px 20px 0px 20px
    	}
    	.tag-g {
    		position: absolute;
    		top: 10px;
    	}
    	.name {
    		font-size: 16px;
    	}
    	.labels {
    		div {
    			float :left;
    			font-sieze: 14px;
    			color: #999;
    			border: $ax-bdr;
    			padding: 2px 4px;
    			border-radius: 2px;
    			margin: 5px 5px 5px 0;
    		}
    	}
    }
    .edit-btn {
		color: $ax-green;
		position: relative;
		padding-left: 18px;
	    font-size: 14px;
	    font-weight: 400;
	    cursor: pointer;
		i {
			position: absolute;
			left: 0;
			top: 0;
		}
	}
	.pulldown {
		button {
			padding: 2px 10px;
			width: 120px;
			border-radius: 2px;
		}
		a {
			text-decoration: none!important;
			&:hover {
				background-color: #FAFAFA;
			}
		}
		.mgr-t8 {
			margin-top: 8px;
		}
	}
	.btn-def {
	    background-color: #fff;
	    border: $ax-bdr;
			&:focus {
		    background-color: #fff;
		}
	}
	.tex-def {
		width: 120px;
		height: 26px;
		border-radius: 2px;
		border: $ax-bdr;
		padding: 2px 10px;
	}
    @media (max-width: $phone-width) {
	    .mrgr-teletext {
	    	margin-right: 10px;
	    	margin-bottom: 10px;
	    }
	}
	@media (min-width: $phone-width) {
	    .mrgr-teletext {
	    	margin-right: 15px;
	    	margin-bottom: 15px;
	    }
	}
}
.mb-1 {
	padding: 15px 0;
	.mb-box {
		padding: 30px;
		background-color: #fff;
		margin-bottom: 15px;
		.title {
		    color: $ax-green;
		    font-size: 24px;
		    border-bottom: $ax-bdr;
		    margin-bottom: 15px;
		}
	}
	.nav-sc {
		margin: 0 auto 8px auto;
		a {
			position: relative;
		    display: block;
		    color: #999;
		    font-size: 16px;
		    padding: 1px 16px;
		    border-radius: 2px;
		    word-break: keep-all;
		}
		.active {
			a{
				background-color: $ax-green;
				color: #fff;
				&:focus {
					background-color: $ax-green;
					color: #fff;
				}
			}
		}
	}
	.sc-w1{
		max-width: 130px;
	}
	.sc-w2 {
		max-width: 483px
	}
	.sc-w3 {
		max-width: 196px;
	}
	.sc-w4 {
		max-width: 294px;
	}
	.sc-w5 {
	    max-width: 586px;
	}
	.headline {
		font-size: 24px;
		padding-bottom: 20px;
	}
	dl {
		padding-left: 24px;
	}
	dt {
		font-size: 18px;
		font-weight: 400;
		padding-bottom: 15px;
	}
	dd {
		font-size: 16px;
		padding-left: 54px;
		padding-bottom: 15px;
		a {
			word-break: keep-all;
			padding-bottom: 6px;
			text-decoration: underline;
			&:hover {
				color: $ax-green;
			}
		}
	}
}
.mb-2 {
	padding: 25px 0 15px 0;
	.breadcrum {
		padding-bottom: 10px;
	}
	.breadcrum-ce {
		border-bottom: $ax-bdr;
		margin-bottom: 10px;
		font-size: 18px;
		color: #999;
	}
	.com-title {
		border-bottom: $ax-bdr;
		margin-bottom: 15px;
		.title {
			font-size: 18px;
			color: #999;
			padding-right: 20px;
		}
	}
	.box {
		padding: 20px 25px;
		background-color: #fff;
		margin-bottom: 15px;
	}
	.ex-table {
		width: 100%;
		border-top: $ax-bdr;
		border-left: $ax-bdr;
		td {
			border-right: $ax-bdr;
			border-bottom: $ax-bdr;
			padding: 2px 0;
		}
	}
	.ey-basic-info {
		background-color: #fff;
		margin-bottom: 15px;
		font-size: 16px;
		.info-title-box {
			padding: 20px 30px 0 30px;
		}
		.info-title-color {
			background-color: #EAF6EE;
		}
		.info-title1 {
			border-bottom: $ax-bdr;
			padding-bottom: 12px;
		}
		.info-title2 {
			padding-bottom: 12px;
		}
		.title {
			font-size: 32px;
		}
		.edit-box {
			font-size: 14px;
			padding-top: 22px;
		}
		.edit-box1 {
			font-size: 14px;
			padding-top: 8px;
			.edit-desc {
				padding-top: 12px;
			}
		}
		.edit-tip {
			color: #999;
			padding-right:20px;
		}
		.edit {
			color: #999;
			padding-right:10px;
		}
		.edit-time {
			color: #FF6A4C;
		}
		.tag-box {
			padding-top: 17px;
		}
		.tags {
		    color: #fff;
		    font-size: 14px;
		    border-radius: 2px;
		    position: relative;
		    i {
		    	position: absolute;
			    left: 8px;
			    top: 2px;
		    }
		}
		.tag-1 {
			background-color: #B4CC3D;
			padding: 2px 10px 2px 28px;
		}
		.tag-2 {
			background-color: #49A6FF;
			padding: 2px 10px 2px 28px;
		}
		.tag-3 {
			background-color: #F2BA49;
			padding: 2px 10px 2px 24px;
		}
		.ed-info {
			font-size: 14px;
			padding: 0;
			padding-top: 20px;
			a {
				text-decoration: underline;
				&:hover {
					color: $ax-green;
				}
			}
			@media (max-width: $pc-width) {
				padding-left: 20px;
			}
		}
		.icon-texs {
			padding-left: 0;
			padding-top: 18px;
		}
		.icon-tex {
			position: relative;
			padding-left: 18px;
		    float: right;
		    margin-left: 30px;
		    i {
		    	position: absolute;
		    	left: 0;
		    	top: 4px;
		    }
		}
		.save-time {
			.name {
				font-size: 14px;
				color: #999;
			}
			border-left: $ax-bdr;
			border-right: $ax-bdr;
		}
		.info-detail {
			padding: 15px 30px;
			.main-graph {
				position: relative;
				img {
					width: 100%;
				}
				.btn-box{
					position: absolute;
					width: 100%;
					bottom: 0;
				}
			}
			.main-graph-ce {
				position: relative;
				background-color: #FAFAFA;
				height: 403px;
				.btn-box{
					position: absolute;
					width: 100%;
					bottom: 50%;
				}
			}
			dt {
				border-bottom: $ax-bdr;
				margin-bottom: 15px;
			}
			.mgr-b25 {
				margin-bottom: 25px;
			}
			a {
				text-decoration: underline;
				&:hover {
					color: $ax-green;
				}
			}
			.more {
				color: $ax-green;
			}
		}
		.dt-title {
			font-size: 18px;
			color: #999;
			padding-right: 25px;
			font-weight: 400;
		}
		.basic-table {
			width: 100%;
			td {
				padding-left: 20px;
				padding-bottom: 10px;
			}
		}
		.bd-r {
			border-right: $ax-bdr;
		}
		.x-table {
			td {
				text-align: center;
				position: relative;
				padding: 2px 0;
			}
			.del {
				position: absolute;
				right: 9px;
    			top: 5px;
    			cursor: pointer;
			}
		}
		.ey-disc {
			padding: 15px 30px;
			.row {
				margin: 0;
			}
			.inner {
				margin: 0;
				border-bottom: $ax-bdr;
				padding: 15px 0;
				label {
					font-weight: 400;
				}
			}
			input, textarea {
				font-size: 16px;
				font-weight: 400;
			}
			.face-icon {
				padding-right: 0;
				text-align: center;
				img {
					margin-bottom: 8px;
				}
				.name {
					font-size: 14px;
				}
			}
			.input-tip {
				color: #999;
				font-size: 14px;
				span {
					color: #FF6A4C;
				}
			}
			.comt-list {
				font-size: 14px;
				.cmt {
					padding: 0 0 40px 10px;
				}	
			}
			.cm-info {
				color: #999;
				padding-bottom: 12px;
				img {
					vertical-align: bottom;
				}
				.name {
					color: #333;
					padding: 0 25px 0 8px;
				}
			}
			.number {
				font-size: 32px;
			}
			.all-comt {
				font-size: 16px;
				padding: 20px 0 30px 10px;
				a {
					font-size: 14px;
				}
			}
			.cm-title {
				padding-bottom: 12px;
			}
			.cm-cont {
				padding: 0 15px;
			}
			.mgr-t4 {
				margin-top: 4px;
			}
			.qt-list {
				margin-top: 10px;
				li {
					background-color: #FAFAFA;
    				border-left: 2px solid #D2D6D3;	
    				padding: 15px 0;
				}
			}
			.mgr-b6 {
				margin-bottom: 6px;
			}
			.i-cmt {
				padding-top: 15px;
			}
		}
	}
	.ey-history {
		dl {
			margin-bottom: 0;
		}
		dt {
			margin-bottom: 8px;
		}
		.title {
			font-size: 18px;
			font-weight: 400;
		}
		textarea {
			font-size: 16px;
		}
		.mgr-b20 {
			padding-bottom: 20px;
		}
		.mgr-b10 {
			padding-bottom: 10px;
		}
		.wn-tip {
			font-size: 16px;
			color: #999;
		}
		.wn {
			color: #333;
		}
		.mgr-r20 {
		    margin-right: 20px;
		}
	}
	.ey-piclist {
		.piclist {
			border-left: $ax-bdr;
		}
		.pic-item {
			border-bottom: $ax-bdr;
			border-right: $ax-bdr;
			border-top: $ax-bdr;
			//width: 220px;
		}
		.description {
			padding-bottom: 30px;
		}
		.ex-cont {
			padding: 0 20px;
			dt {
				font-weight: 400;
				font-size: 18px;
				padding-bottom: 8px;
			}
			td {
				text-align: center;
			}
			.mgr-b15 {
				margin-bottom: 15px;
			}
		}
		.tex-cm{
			text-align: center;
		    line-height: 300px;
		    overflow: hidden;
		    font-size: 16px;
		    cursor: pointer;
		    color: $ax-green;
		}
		.sp-table {
			a {
				text-decoration: underline;
			}
		}
	}
	.ey-recommend {
		background-color: $ax-body-gray;
	}
	.ey-verinfo {
		font-size: 16px;
		td {
			padding: 2px 0 2px 10px;

		}
		.ver-num {
			border: $ax-bdr;
			width: 294px;
			padding: 2px 10px;
			a {
				color: $ax-green;
				&:hover {
					color: $ax-green;
				}
			}
		}
		.not-bdr {
			border-top:0;
		}
		.mgr-b18 {
			margin-bottom: 18px;
		}
	}
	.ey-tabs {
		font-size: 16px;
		.nav-tabs{
			margin-bottom: 10px;
			a {
				padding: 2px 20px;
				border-radius: 0;
				&:hover {
					color: $ax-green;
				}
			}
			.active {
			 	a{
			 		background-color: $ax-green;
					color: #fff;
					border-left: 0;
					border-right: 0;
					border-top: 0;
					&:hover {
						background-color: $ax-green;
						color: #fff;
						border-left: 0;
						border-right: 0;
						border-top: 0;
					}
					&:focus {
						background-color: $ax-green;
						color: #fff;
						border-left: 0;
						border-right: 0;
						border-top: 0;
					}
			 	}
			}
		}
		.tab-content{
			font-size: 16px;
			.cap {
				background-color: #FAFAFA;
				color: #999;
			}
			td {
				text-align: center;
				padding: 4px 0;
			}
			a{
				color: $ax-green;
				text-decoration: underline;
				&:hover {
					color: $ax-green;
				}
			}
			.mgr-b12 {
				margin-bottom: 12px;
			}
			.rate-table {
				margin-bottom: 30px;
			}
			.new-prog {
				width: 240px;
				height: 30px;
				margin: 0;
			}
			.orange-bar {
				border-radius: 4px;
				background-color: #FF6A4C;
			}
			.yellow-bar {
				border-radius: 4px;
				background-color: #F2BA49;
			}
			.green-bar {
				border-radius: 4px;
				background-color: #B4CC3D;
			}
			.cont-rate {
    			padding-left: 21px;
    			font-size: 18px;
    			text-align: left;
			}
			.pdn-lr {
				padding-right: 40px;
    			padding-left: 21px;
			}
			.pdn-l30 {
				padding-left: 30px;
			}
		}
		
	}
	.ey-basic-fill {
		background-color: #fff;
		padding: 30px 15px;
		font-size: 16px;
		label {
			font-weight: 400;
		}
		.btn-default {
			width: 100%;
			text-align: left;
			&:hover {
				background-color: #fff;
			}
			&:focus {
				background-color: #fff;
			}
		}
		.dropdown-menu {
			margin-left: 15px;
		}
		.caret {
			margin-top: 8px;
		}
		.explain {
			font-size: 14px;
    		padding-top: 6px;
    		color: #999;
		}
	}
	.table-13{
		width: 33.3%;
	}
	.table-14{
		width: 25%;
	}
	.step-tip {
		background-color: $ax-green;
		color: #fff;
		padding: 15px;
		border-radius: 4px;
		margin-bottom: 25px;
		.ce-title {
			font-size: 24px;
			padding-bottom: 8px;
		}
		.ce-cont {
			font-size: 16px;
			font-weight: 100;
		}
	}
	.gbtn-area {
		text-align: center;
		padding-top: 30px;
	}
	.radio {
	    display: inline;
	    padding: 0 22px;
	}
	.radio-box {
		padding-top: 6px;
	}
	.repeat {
	    position: relative;
		padding-left: 22px;
    	padding-top: 6px;
    	color: #FF6A4C;
	}
	.icon-ok {
		margin-top: 4px;
	}
	.icon-rp {
		position: absolute;
	    left: 0;
	    top: 9px;
	}
}
.footer{
	.box-top {
		border-bottom: $ax-bdr;
		padding:50px 50px 30px 50px;
	}
	.box-middle {
		border-bottom: $ax-bdr;
		padding-top: 30px;
	}
	.box-bottom {
		padding-top: 15px;
		padding-bottom: 20px;
		text-align: center;
		color:#999;
	}
	ul{
		padding-left: 0;
    	list-style: none;
    	color: #999;
    	li {
    		padding-bottom: 6px;
    	}
	}
	.title{
		font-size:16px;
		padding-bottom: 12px;
		color: #000;
	}
	.small{
		font-size:12px;
	}
}

/* pages */
@import '_modal_box.scss';
@import '_search_result.scss';
@import '_my_center.scss';

@media (max-width: $phone-width) {
	.qr-hidden {
		display:none;
	}
}
@media (min-width: $phone-width) {
	.hidden-nav {
		display:none!important;
	}
}

.icon-sprite {
	background-image: sprite-url($icons);	
	background-repeat: no-repeat;
}
$iconNumber: 29;
@for $i from 1 through $iconNumber { 
	.icon-#{$i}{
	    width: image-width(sprite-file($icons, $i));
	    height: image-height(sprite-file($icons, $i));
	    background-position: sprite-position($icons, $i);
	}
}

